<html ng-app="HTMLCSSApp">
    <head>
        <script src="/js/angular/1.5.11/angular.js"></script>
        <script src="/js/angular/1.5.11/angular-animate.min.js"></script>
        <script src="/js/angular/1.5.11/angular-aria.min.js"></script>
        <script src="/js/angular/1.5.11/angular-messages.min.js"></script>
        <script src="/js/angular/angular-material.min.js"></script>
        <link rel="stylesheet" href="/css/angular-material.min.css">
        <link rel="icon" href="/favicon.ico">
        <script src="/js/site/dependencies.js"></script>
        <script src="app.js"></script>
        <!--Material Icons-->
        <link rel="stylesheet" href="/fonts/fonts.css">
        <!--CSS-->
        <link rel="stylesheet" href="/css/main.css">
        <!--End Import-->
        <!--Meta Tags-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Edric Chan">
        <meta name="description" content="This is meant for iBooks... (WIP)">
        <meta name="tags" content="ibooks, iba, edric, chan4077, html5, html, css, css3">
        <!--End Meta Tags-->
    </head>
    <body>
        <site-toolbar></site-toolbar>
        <md-content ng-controller="HomeController">
            <md-list>
                <md-list-item ng-repeat="item in items" ng-click="doSomething(item)">
                    {{item.text}}
                </md-list-item>
            </md-list>
        </md-content>
        <site-sidenav></site-sidenav>
    </body>
</html>